alembic==1.4.2
coverage==5.0.4
bcrypt==3.1.7
email-validator==1.0.5
flake8==3.7.9
flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Migrate==2.5.3
Flask-Testing==0.8.0
flask-restx==0.5.1
Flask-SQLAlchemy==2.4.1
psycopg2-binary==2.8.5
pytest==5.4.1
pytest-cov==2.8.1
PyJWT==1.5.3
sqlalchemy
Werkzeug==0.16.0